# helm repo add grafana https://grafana.github.io/helm-charts
# helm upgrade --install grafana grafana/grafana --namespace mon -f C:\Users\zakar\Documents\arch-dz\project\helm\grafana\values.yaml --set-file dashboards.default.nginx.json=ingress.json --set-file dashboards.default.pg.json=pg.json --set-file dashboards.default.flask.json=flask.json --set-file dashboards.default.kube.json=kube.json
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - arch-grafana.homework
persistence:
  enabled: true
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server
      access: proxy
      isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

# dashboards:
#   default:
#     nginx:
#       json: |